.list-type-container {
  list-style-type: none;
}

.link {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s ease;
  border-left: black;
  height: 32px;
}

.link {
  display: inline-block;
  padding-top: 20px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: #007bff; /* Text color */
  /* Button background color */
  border-left: black;
  border-radius: 4px; /* Rounded corners */
  transition: background-color 0.3s ease, transform 0.2s ease;
}
